
.chartWrapper{
  aspect-ratio: 3/2;
}

.grid{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  padding:2rem;
}

.l-align-center{
  text-align: center;
}


.heading{
  padding:0 0 2rem 0;
  margin:0;
}

.text-emphasis{
  padding:0.25rem 1rem;
  background:hsl(52, 100%, 75%);
}